.main {
  background-color: black;
  color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* font-family: "Tangerine", cursive; */
}

.leftContainer {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logoTweeter {
  height: 100%;
  display: flex;
  justify-content: baseline;
}

.BtnLogout {
  border: solid 1px gray;
  color: #ffffff;
  background-color: black;
  border-radius: 20px;
  margin: 0px 0px 15px 5px;
  width: 7vw;
  height: 4vh;
  font-size: 15px;
  cursor: pointer;
}

.BtnLogout:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.leftLastBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 25px;
}

.middleContainer {
  border: solid 2px gray;
  width: 57%;
  height: 100%;
  border-top: none;
  border-bottom: none;
}

.middleTopContainer {
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.middleBottomContainer {
  border-top: solid 2px gray;
  display: flex;
  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-end;
}

.middleBottomContainer::-webkit-scrollbar {
  display: none;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 15px;
  padding-right: none;
}

.tweetCaracters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  margin-left: 400px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.BtnTweet {
  height: 4vh;
  width: 8vw;
  font-size: 16px;
  border-radius: 25px;
  border: solid 0.1px gray;
  cursor: pointer;
  background-color: blue;
  color: #ffffff;
}
.BtnTweet:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.spanCount {
  color: #ffffff;
}

.tweet {
  color: #ffffff;
  font-size: 20px;
  border-bottom: solid 2px gray;
  width: 600px;
  height: 200px;
  display: flex;
}

.topPartTweet {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border: solid 1px gray;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.hashtagContainer {
  border-radius: 45px;
  width: 90%;
  height: 90vh;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  font-size: 15px;
  margin-left: -7px;
  margin-top: -15px;
}

.hashtagContainer::-webkit-scrollbar {
  display: none;
}

.hashtagPostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.msgTweet {
  border-bottom: solid 2px gray;
  padding: 5px;
  font-size: 16px;
  outline: none;
  background-color: black;
  width: 600px;
  margin-left: 55px;
  color: black;
}

.like {
  margin-left: 10px;
  width: 25px;
  justify-content: center;
  align-items: center;
  color: white;
}

.dislike {
  margin-left: 5px;
  width: 25px;
  justify-content: center;
  align-items: center;
  color: white;
}

.deleteTweet {
  cursor: pointer;
  width: 25px;
  color: #ffffff;
  margin-left: 10px;
}

.firstName {
  display: flex;
  margin: 3px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userName {
  display: flex;
  margin: 3px;
  color: gray;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eggPicture {
  border-radius: 20px;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.userPicture {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.tweetDate {
  color: #ffffff;
}

.tweetContainer {
  width: 100%;
}



/*MEDIAQUERIES SMARTPHONE*/
@media only screen and (max-width: 768px) {
  .main {
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .leftContainer {
    padding: 5px;
    width: 100vw;
    height: 6vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    /* margin-top: -15px; */
  }

  .middleContainer {
    width: 100vw;
    /* height: 90vh; */
    margin-top:42px;
 
  }
  .middleTopContainer {
    width: 100vw;
    height: 5vh;
    margin-top:22px;
 
  }
  .middleBottomContainer {
    /* width: 100vw; */
    height: 57vh;
    margin-top:42px;
 
  }
  .rightContainer {
    width: 100vw;
    height: 28vh;
    border: solid 3px gray;
    border-left: none;
    border-right: none;
    border-bottom:  none;
  }
  .leftLastBox {
    margin-bottom: 5px;
  }
  .leftContainerBottomPart {
    margin-top: 10px;
    width: 80vw;
  }
  .logoTweeter {
    display: none;
  }
  .middleContainer {
    border: none;
  }
 
  .msgTweet {
    margin-left: 18px;
  }
 

  .tweetCaracters {
    justify-content: flex-end;
    align-items: center;
    width: 90vw;
    margin-left: 0px;
    /* margin-top:20px; */
    
  }
.spanCount {
  margin-top: 2px;
  margin-bottom: 5px;

}
  .BtnTweet {
    width: auto;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .BtnLogout {
    border-radius: 50px;
    width: 10vw;
    height: 5vh;
    font-size: 10px;
    z-index: 100;
  }
  .tweetCaracters {
    margin-top: 3px; 
    padding-bottom: 0px;
    /* margin-bottom: -15px; */
  }
 
  .hashtagContainer {
    width: 70vw;
  }

  
}
